{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}Agregar Venta Manual{% endblock %}

{% block extra_css %}
<style>
    /* Estilos personalizados para botones en pantallas pequeñas */
    @media (max-width: 991.98px) {
        .container .btn {
            display: block;
            width: 100%;  /* Ancho completo */
            margin-bottom: 10px;  /* Espaciado entre botones */
        }
    }

    @media (max-width: 767.98px) {
        .container .btn {
            display: block;
            width: 100%;
            margin-bottom: 15px;  /* Más espacio entre botones */
        }
    }

    @media (max-width: 480px) {
        .container .btn {
            width: 100%;
            margin-bottom: 12px;
        }
    }
</style>
{% endblock %}
{% block content %}

<div class="bg-light py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-0">
                <a href="{% url 'home' %}">Inicio</a> 
                <span class="mx-2 mb-0">/</span> 
                <a href="{% url 'gestionar_transacciones' %}">Gestionar Transacciones</a> 
                <span class="mx-2 mb-0">/</span> 
                <a href="{% url 'listar_ventas_manuales' %}">Historial de Ventas Manuales</a> 
                <span class="mx-2 mb-0">/</span> 
                <strong class="text-black">Agregar Venta Manual de Producto</strong>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <form method="post" id="ventaProductoForm" class="needs-validation" novalidate>
        {% csrf_token %}

        <!-- Mostrar mensajes de error -->
        {% if messages %}
        <div>
            {% for message in messages %}
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}

        <!-- Formulario para Cliente Anónimo -->
        <h3>Datos del Cliente</h3>
        <div class="form-group">
            {{ cliente_anonimo_form.nombre.label_tag }}
            {{ cliente_anonimo_form.nombre|add_class:"form-control" }}
        </div>
        <div class="form-group">
            {{ cliente_anonimo_form.apellido.label_tag }}
            {{ cliente_anonimo_form.apellido|add_class:"form-control" }}
        </div>
        <div class="form-group">
            {{ cliente_anonimo_form.email.label_tag }}
            {{ cliente_anonimo_form.email|add_class:"form-control" }}
        </div>
        <div class="form-group">
            {{ cliente_anonimo_form.numero_telefono.label_tag }}
            {{ cliente_anonimo_form.numero_telefono|add_class:"form-control" }}
        </div>

        <!-- Formulario para Producto -->
        <h3>Detalles del Producto</h3>
        <div class="form-group">
            {{ detalle_producto_form.producto.label_tag }}
            {{ detalle_producto_form.producto|add_class:"form-control" }}
        </div>
        <a href="{% url 'listar_productos' %}" class="btn btn-success btn-sm mb-3" target="_blank">Ver listado de productos</a>

        <!-- Fecha de la Transacción -->
        <div class="form-group">
            {{ orden_compra_form.fecha_creacion.label_tag }}
            {{ orden_compra_form.fecha_creacion|add_class:"form-control" }}
        </div>

        <!-- Total e Ingreso del Cliente -->
        <h3>Resumen de Pago</h3>
        <div class="form-group">
            {{ orden_compra_form.precio_personalizado.label_tag }}
            {{ orden_compra_form.precio_personalizado|add_class:"form-control" }}
        </div>
        <div class="form-group">
            {{ orden_compra_form.pago_cliente.label_tag }}
            {{ orden_compra_form.pago_cliente|add_class:"form-control" }}
        </div>

        <!-- Fecha Pago Completo -->
        <div class="form-group">
            {{ orden_compra_form.fecha_pago_final.label_tag }}
            <input type="datetime-local" name="fecha_pago_final" class="form-control" 
                value="{{ orden_compra_form.instance.fecha_pago_final|date:'Y-m-d\TH:i' }}">
            {% if orden_compra_form.fecha_pago_final.errors %}
            <div class="alert alert-danger">
                {{ orden_compra_form.fecha_pago_final.errors.as_text }}
            </div>
            {% endif %}
        </div>

        <!-- Botones de acción -->
        <div class="form-group mb-5">
            <input type="submit" value="Registrar Venta" class="btn btn-primary btn-sm">
            <a href="{% url 'listar_ventas_manuales' %}" class="btn btn-secondary btn-sm">Volver atrás</a>
        </div>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        // Detectar cambios en el campo del ID del Producto
        $("#id_producto").on("change", function() {
            var productoID = $(this).val();  // Obtener el ID ingresado
            
            if (productoID) {  // Solo hacer la petición si hay un ID válido
                $.ajax({
                    url: "{% url 'obtener_precio_producto' %}",  // URL de la vista en Django
                    data: { 'producto_id': productoID },  // Enviar ID al backend
                    dataType: "json",
                    success: function(data) {
                        if (data.precio) {
                            $("#id_precio_personalizado").val(data.precio);  // Actualizar el campo Total
                        }
                    },
                    error: function() {
                        $("#id_precio_personalizado").val("");  // Limpiar el campo si hay error
                        alert("No se encontró un producto con este ID.");
                    }
                });
            } else {
                $("#id_precio_personalizado").val("");  // Limpiar si el campo está vacío
            }
        });
    });
</script>

{% endblock %}
