{% extends 'base.html' %}
{% block title %}Agregar Producto{% endblock %}
{% block content %}

<div class="container">
  <h1>Agregar Producto</h1>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    
    <div class="form-group">
      <label for="{{ form.nombre.id_for_label }}">Nombre</label>
      <input type="text" class="form-control" id="{{ form.nombre.id_for_label }}" name="{{ form.nombre.name }}" value="{{ form.nombre.value|default:'' }}">
    </div>

    <div class="form-group">
      <label for="{{ form.marca.id_for_label }}">Marca</label>
      <input type="text" class="form-control" id="{{ form.marca.id_for_label }}" name="{{ form.marca.name }}" value="{{ form.marca.value|default:'' }}">
    </div>

    <div class="form-group">
      <label for="{{ form.modelo.id_for_label }}">Modelo</label>
      <input type="text" class="form-control" id="{{ form.modelo.id_for_label }}" name="{{ form.modelo.name }}" value="{{ form.modelo.value|default:'' }}">
    </div>

    <div class="form-group">
      <label for="{{ form.version.id_for_label }}">Versión</label>
      <input type="text" class="form-control" id="{{ form.version.id_for_label }}" name="{{ form.version.name }}" value="{{ form.version.value|default:'' }}">
    </div>

    <div class="form-group">
      <label for="{{ form.anio.id_for_label }}">Año</label>
      <input type="number" class="form-control" id="{{ form.anio.id_for_label }}" name="{{ form.anio.name }}" value="{{ form.anio.value|default:'' }}">
    </div>

    <div class="form-group">
      <label for="{{ form.categoria.id_for_label }}">Categoría</label>
      {{ form.categoria }}
      {% if form.categoria.errors %}
        <div class="text-danger">
          {{ form.categoria.errors }}
        </div>
      {% endif %}
    </div>
    
    <div class="form-group">
      <label for="{{ form.descripcion.id_for_label }}">Descripción</label>
      <textarea class="form-control" id="{{ form.descripcion.id_for_label }}" name="{{ form.descripcion.name }}" rows="4">{{ form.descripcion.value|default:'' }}</textarea>
    </div>

    <div class="form-group">
      <label for="{{ form.precio.id_for_label }}">Precio</label>
      <input type="number" class="form-control" id="{{ form.precio.id_for_label }}" name="{{ form.precio.name }}" value="{{ form.precio.value|default:'' }}">
    </div>

    <div class="form-group">
      <label for="{{ form.precio_reserva.id_for_label }}">Precio de Reserva</label>
      <input type="number" class="form-control" id="{{ form.precio_reserva.id_for_label }}" name="{{ form.precio_reserva.name }}" value="{{ form.precio_reserva.value|default:'' }}">
    </div>

    <div class="form-group">
      <label for="{{ form.cantidad_stock.id_for_label }}">Cantidad en Stock</label>
      <input type="number" class="form-control" id="{{ form.cantidad_stock.id_for_label }}" name="{{ form.cantidad_stock.name }}" value="{{ form.cantidad_stock.value|default:'' }}">
    </div>
    
    <div class="form-group">
      <label for="{{ form.imagen.id_for_label }}">Imagen</label>
      <input type="file" class="form-control" id="{{ form.imagen.id_for_label }}" name="{{ form.imagen.name }}">
    </div>

    <div class="form-group">
      <label for="imagenes">Galería de Imágenes (máximo 15 imágenes, 3 MB cada una)</label>
      <input type="file" class="form-control" id="imagenes" name="imagenes" multiple>
  </div>
  
    <button type="submit" class="btn btn-primary">Agregar Producto</button>
    <a href="{% url 'listar_productos' %}" class="btn btn-secondary">Volver atrás</a>
  </form>
</div>

{% endblock %}