{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="bg-light py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mb-0"><a href="{% url 'home' %}">Inicio</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Catálogo de Productos</strong></div>
    </div>
  </div>
</div>

<div class="site-section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-9 order-2">
        <div class="row">
            <div class="col-md-12 mb-5">
              <div class="float-md-left mb-4"><h2 class="text-black h5">Tienda</h2></div>
              <div class="d-flex">
                <!-- Añadimos "ml-auto" para mover el formulario hacia la derecha -->
                <form method="get" class="form-inline ml-auto">
                  <div class="dropdown mr-1">
                    <select name="sort" class="form-control btn-sm">
                      <option value="">Ordenar por</option>
                      <option value="asc" {% if request.GET.sort == 'asc' %}selected{% endif %}>Precio: Menor a Mayor</option>
                      <option value="desc" {% if request.GET.sort == 'desc' %}selected{% endif %}>Precio: Mayor a Menor</option>
                    </select>
                  </div>
                  <button type="submit" class="btn btn-outline-primary btn-sm ml-2">Aplicar</button>
                </form>
              </div>
            </div>
          </div>

        <div class="row mb-5">
          {% for producto in productos %}
          <div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
            <div class="block-4 text-center border">
              <figure class="block-4-image">
                <a href="{% url 'ver_detalles_producto' producto.id %}">
                  <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}" class="img-fluid">
                </a>
              </figure>
              <div class="block-4-text p-4">
                <h3><a href="{% url 'ver_detalles_producto' producto.id %}">{{ producto.nombre }}</a></h3>
                <p class="mb-0">{{ producto.descripcion|truncatewords:10 }}</p>
                <p class="text-primary font-weight-bold">${{ producto.precio_formateado }}</p>
              </div>
            </div>
          </div>
          {% empty %}
          <p>No hay productos disponibles en esta categoría.</p>
          {% endfor %}
        </div>

        <!-- Paginación -->
        <div class="row" data-aos="fade-up">
          <div class="col-md-12 text-center">
            <div class="site-block-27">
              <ul>
                {% if productos.has_previous %}
                  <li><a href="?page={{ productos.previous_page_number }}&sort={{ request.GET.sort }}&categoria={{ request.GET.categoria }}">&lt;</a></li>
                {% endif %}
                
                {% for i in productos.paginator.page_range %}
                  <li class="{% if productos.number == i %}active{% endif %}">
                    <a href="?page={{ i }}&sort={{ request.GET.sort }}&categoria={{ request.GET.categoria }}">{{ i }}</a>
                  </li>
                {% endfor %}

                {% if productos.has_next %}
                  <li><a href="?page={{ productos.next_page_number }}&sort={{ request.GET.sort }}&categoria={{ request.GET.categoria }}">&gt;</a></li>
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
        
      </div>

      <div class="col-md-3 order-1 mb-5 mb-md-0">
        <div class="border p-4 rounded mb-4">
          <h3 class="mb-3 h6 text-uppercase text-black d-block">Categories</h3>
          <ul class="list-unstyled mb-0">
            <li class="mb-1"><a href="#" class="d-flex"><span>Men</span> <span class="text-black ml-auto">(2,220)</span></a></li>
            <li class="mb-1"><a href="#" class="d-flex"><span>Women</span> <span class="text-black ml-auto">(2,550)</span></a></li>
            <li class="mb-1"><a href="#" class="d-flex"><span>Children</span> <span class="text-black ml-auto">(2,124)</span></a></li>
          </ul>
        </div>

        <div class="border p-4 rounded mb-4">
          <div class="mb-4">
            <h3 class="mb-3 h6 text-uppercase text-black d-block">Filter by Price</h3>
            <div id="slider-range" class="border-primary"></div>
            <input type="text" name="text" id="amount" class="form-control border-0 pl-0 bg-white" disabled="" />
          </div>

          <div class="mb-4">
            <h3 class="mb-3 h6 text-uppercase text-black d-block">Size</h3>
            <label for="s_sm" class="d-flex">
              <input type="checkbox" id="s_sm" class="mr-2 mt-1"> <span class="text-black">Small (2,319)</span>
            </label>
            <label for="s_md" class="d-flex">
              <input type="checkbox" id="s_md" class="mr-2 mt-1"> <span class="text-black">Medium (1,282)</span>
            </label>
            <label for="s_lg" class="d-flex">
              <input type="checkbox" id="s_lg" class="mr-2 mt-1"> <span class="text-black">Large (1,392)</span>
            </label>
          </div>

          <div class="mb-4">
            <h3 class="mb-3 h6 text-uppercase text-black d-block">Color</h3>
            <a href="#" class="d-flex color-item align-items-center">
              <span class="bg-danger color d-inline-block rounded-circle mr-2"></span> <span class="text-black">Red (2,429)</span>
            </a>
            <a href="#" class="d-flex color-item align-items-center">
              <span class="bg-success color d-inline-block rounded-circle mr-2"></span> <span class="text-black">Green (2,298)</span>
            </a>
            <a href="#" class="d-flex color-item align-items-center">
              <span class="bg-info color d-inline-block rounded-circle mr-2"></span> <span class="text-black">Blue (1,075)</span>
            </a>
            <a href="#" class="d-flex color-item align-items-center">
              <span class="bg-primary color d-inline-block rounded-circle mr-2"></span> <span class="text-black">Purple (1,075)</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
