{% extends 'base.html' %}
{% load static %}
{% block title %}
    {% if user.empleado and user.empleado.rol == 'Administrador' %}
        Historial de Ventas Manuales
    {% elif user.cliente %}
        Historial de Compras Presenciales
    {% else %}
        Historial
    {% endif %}
{% endblock %}
{% block extra_css %}
<style>
    .table td, .table th {
        vertical-align: middle;
        text-align: center;
    }

        /* Asegurar que ambos botones tengan el mismo ancho en pantallas grandes */
    @media (min-width: 992px) {  /* Se aplica solo en escritorio */
        .w-lg-25 {
        width: 35% !important;
        }
        .btn-group-equal {
            display: flex;
            flex-direction: column;
            align-items: start;
        }

        .btn-group-equal .btn {
            min-width: 180px; /* Ajusta esto según el botón más largo */
        }
    }

    /* Tablets (pantallas medianas) */
    @media (max-width: 991.98px) {
        .container .btn {
            display: block;
            width: 100%;  /* Ancho completo */
            margin-bottom: 10px;  /* Espaciado entre botones */
        }
    }

    /* Móviles (pantallas pequeñas) */
    @media (max-width: 767.98px) {
        .container .btn {
            display: block;
            width: 100%;
            margin-bottom: 15px;  /* Más espacio entre botones */
        }
    }

    /* Dispositivos muy pequeños (menos de 480px) */
    @media (max-width: 480px) {
        .container .btn {
            width: 100%;
            margin-bottom: 12px;
        }
    }
</style>
{% endblock %}
{% block content %}

<div class="bg-light py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-0">
                <a href="{% url 'home' %}">Inicio</a> 
                <span class="mx-2 mb-0">/</span> 
                <a href="{% url 'gestionar_transacciones' %}">Gestionar Transacciones</a> 
                <span class="mx-2 mb-0">/</span> 
                {% if user.empleado and user.empleado.rol == 'Administrador' %}
                    <strong class="text-black">Historial de Ventas Manuales</strong>
                {% elif user.cliente %}
                    <strong class="text-black">Historial de Compras Presenciales</strong>
                {% else %}
                    <strong class="text-black">Historial</strong>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="container mt-5 mb-5">
    <div class="d-flex flex-column mb-3">
        {% if user.empleado and user.empleado.rol == 'Administrador' %}
        <div class="btn-group-equal">
            <a href="{% url 'agregar_venta_manual_producto' %}?{{ request.GET.urlencode }}" class="btn btn-success btn-sm mb-2 w-lg-25">Agregar Venta Manual de Productos</a>
            <a href="{% url 'agregar_venta_manual_servicio' %}?{{ request.GET.urlencode }}" class="btn btn-success btn-sm mb-2 w-lg-25">Agregar Venta Manual de Servicios</a>
        </div>         
        {% endif %}
    </div>

    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}" role="alert">
        {{ message }}
    </div>
    {% endfor %}

    {% if user.empleado and user.empleado.rol == 'Administrador' %}
    <form method="GET" class="form-control-file mb-2">
        <div class="form-group">
            <label for="search-cliente">Buscar por Cliente:</label>
            <input type="text" class="form-control mx-2" id="search-cliente" name="cliente" placeholder="Nombre del Cliente" value="{{ cliente_query }}">
        </div>
        <button type="submit" class="btn btn-outline-primary btn-sm mb-2">Filtrar</button>
        <a href="{% url 'listar_ventas_manuales' %}" class="btn btn-outline-danger btn-sm mb-2">Quitar filtro</a>
    </form>
    {% endif %}

    <!-- TABLA DE VENTAS DE PRODUCTOS -->
    <h2 class="text-center">Historial de Ventas de Productos</h2>
    <div class="table-responsive mb-4">
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>Número de Orden</th>
                    <th>Cliente</th>
                    <th>Correo</th>
                    <th>Teléfono</th>
                    <th>RUT</th>
                    <th>Fecha de la Venta</th>
                    <th>Fecha Pago Completo</th>
                    <th>Días Transcurridos entre la Adquisición y Venta</th>
                    <th>Vehículo</th>
                    <th>Patente</th>
                    <th>Stock Propio</th>
                    <th>Valor de Venta</th>
                    <th>Valor de Compra</th>
                    <th>Costo Extra</th>
                    <th>Estatus de Pago</th>
                    <th>Resultado del Negocio</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for venta_info in ventas_productos_list %}
                <tr class="{% cycle 'table-light' 'table-secondary' %}">
                    <td>{{ venta_info.venta.id }}</td>
                    <td>
                        {% if venta_info.venta.cliente %}
                            {{ venta_info.venta.cliente.user.first_name }} {{ venta_info.venta.cliente.user.last_name }}
                        {% elif venta_info.venta.cliente_anonimo %}
                            {{ venta_info.venta.cliente_anonimo.nombre }} {{ venta_info.venta.cliente_anonimo.apellido }}
                        {% else %}
                            N/A
                        {% endif %}
                    </td>             
                    <td>
                        {% if venta_info.venta.cliente_anonimo %}
                            {{ venta_info.venta.cliente_anonimo.email }}
                        {% elif venta_info.venta.cliente %}
                            {{ venta_info.venta.cliente.user.email }}
                        {% endif %}
                    </td>                   
                    <td>
                        {% if venta_info.venta.cliente_anonimo and venta_info.venta.cliente_anonimo.numero_telefono %}
                            {{ venta_info.venta.cliente_anonimo.numero_telefono }}
                        {% elif venta_info.venta.cliente and venta_info.venta.cliente.numero_telefono %}
                            {{ venta_info.venta.cliente.numero_telefono }}
                        {% else %}
                            ---
                        {% endif %}
                    </td>                    
                    <td>
                        {% if venta_info.venta.cliente_anonimo and venta_info.venta.cliente_anonimo.rut %}
                            {{ venta_info.venta.cliente_anonimo.rut }}
                        {% else %}
                        ---
                        {% endif %}
                    </td>                                      
                    <td>{{ venta_info.venta.fecha_creacion|date:"d/m/Y" }}</td>
                    <td>
                        {% if venta_info.venta.fecha_pago_final %}
                            {{ venta_info.venta.fecha_pago_final|date:"d/m/Y" }}
                        {% else %}
                            ---
                        {% endif %}
                    </td>                    
                    <td>
                        {% if venta_info.productos.0.dias_transcurridos %}
                            {{ venta_info.productos.0.dias_transcurridos }} 
                            {% if venta_info.productos.0.dias_transcurridos == 1 %}
                                día
                            {% else %}
                                días
                            {% endif %}
                        {% else %}
                            ---
                        {% endif %}
                    </td>                                  
                    <td>{{ venta_info.productos.0.nombre }}</td>
                    <td>
                        {% if venta_info.productos.0.patente %}
                          {{ venta_info.productos.0.patente }}
                        {% else %}
                          Sin patente
                        {% endif %}
                      </td>                      
                    <td>{{ venta_info.productos.0.stock_propio }}</td>
                    <td>${{ venta_info.venta.total_formateado }}</td>
                    <td>${{ venta_info.productos.0.precio_costo|default:"0" }}</td>
                    <td>${{ venta_info.productos.0.costo_extra|default:"0" }}</td>
                    <td>
                        {% if venta_info.estado_pago == "Cancelado" %}
                            <span class="text-success font-weight-bold">{{ venta_info.estado_pago }}</span>
                        {% else %}
                            <span class="text-danger font-weight-bold">{{ venta_info.estado_pago }}</span>
                        {% endif %}
                    </td>                    
                    <td>${{ venta_info.ganancia_perdida }}</td>
                    <td>
                        <a href="{% url 'editar_venta_manual_producto' venta_info.venta.id %}" class="btn btn-primary btn-sm">Editar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- PAGINACIÓN DE PRODUCTOS -->
    <div class="mb-4">
        <nav aria-label="Paginación Productos">
            <ul class="pagination">
                {% if ventas_productos_paginadas.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page_productos=1">Primera</a></li>
                    <li class="page-item"><a class="page-link" href="?page_productos={{ ventas_productos_paginadas.previous_page_number }}">Anterior</a></li>
                {% endif %}
                {% for i in ventas_productos_paginadas.paginator.page_range %}
                    <li class="page-item{% if i == ventas_productos_paginadas.number %} active{% endif %}">
                        <a class="page-link" href="?page_productos={{ i }}">{{ i }}</a>
                    </li>
                {% endfor %}
                {% if ventas_productos_paginadas.has_next %}
                    <li class="page-item"><a class="page-link" href="?page_productos={{ ventas_productos_paginadas.next_page_number }}">Siguiente</a></li>
                    <li class="page-item"><a class="page-link" href="?page_productos={{ ventas_productos_paginadas.paginator.num_pages }}">Última</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>

    <!-- TABLA DE VENTAS DE SERVICIOS -->
    <h2 class="text-center">Historial de Ventas de Servicios</h2>
    <div class="table-responsive mb-4">
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>Número de Orden</th>
                    <th>Cliente</th>
                    <th>Correo</th>
                    <th>Teléfono</th>
                    <th>RUT</th>
                    <th>Fecha de la Venta</th>
                    <th>Fecha Pago Completo</th>
                    <th>Detalle</th>
                    <th>Vehículo</th>
                    <th>Patente</th>
                    <th>Valor de Servicio</th>
                    <th>Valor Costo</th>
                    <th>Estatus de Pago</th>
                    <th>Resultado del Negocio</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for venta_info in ventas_servicios_list %}
                <tr class="{% cycle 'table-light' 'table-secondary' %}">
                    <td>{{ venta_info.venta.id }}</td>
                    <td>
                        {% if venta_info.venta.cliente %}
                            {{ venta_info.venta.cliente.user.first_name }} {{ venta_info.venta.cliente.user.last_name }}
                        {% elif venta_info.venta.cliente_anonimo %}
                            {{ venta_info.venta.cliente_anonimo.nombre }} {{ venta_info.venta.cliente_anonimo.apellido }}
                        {% else %}
                            N/A
                        {% endif %}
                    </td>
                    <td>
                        {% if venta_info.venta.cliente_anonimo %}
                            {{ venta_info.venta.cliente_anonimo.email }}
                        {% elif venta_info.venta.cliente %}
                            {{ venta_info.venta.cliente.user.email }}
                        {% endif %}
                    </td>
                    <td>
                        {% if venta_info.venta.cliente_anonimo and venta_info.venta.cliente_anonimo.numero_telefono %}
                            {{ venta_info.venta.cliente_anonimo.numero_telefono }}
                        {% elif venta_info.venta.cliente and venta_info.venta.cliente.numero_telefono %}
                            {{ venta_info.venta.cliente.numero_telefono }}
                        {% else %}
                            ---
                        {% endif %}
                    </td>                    
                    <td>
                        {% if venta_info.venta.cliente_anonimo and venta_info.venta.cliente_anonimo.rut %}
                            {{ venta_info.venta.cliente_anonimo.rut }}
                        {% else %}
                        {% endif %}
                    </td>
                    <td>{{ venta_info.venta.fecha_creacion|date:"d/m/Y" }}</td>
                    <td>
                        {% if venta_info.venta.fecha_pago_final %}
                            {{ venta_info.venta.fecha_pago_final|date:"d/m/Y" }}
                        {% else %}
                            ---
                        {% endif %}
                    </td>                                      
                    <td>{{ venta_info.servicios.0.nombre }}</td>
                    <td>
                        {% if venta_info.servicios.0.marca_vehiculo or venta_info.servicios.0.modelo_vehiculo %}
                            {{ venta_info.servicios.0.marca_vehiculo }} {{ venta_info.servicios.0.modelo_vehiculo }}
                        {% else %}
                        {% endif %}
                    </td>
                    <td>
                        {{ venta_info.servicios.0.patente_vehiculo|default:"" }}
                    </td>
                    <td>${{ venta_info.venta.total_formateado }}</td>
                    <td>${{ venta_info.servicios.0.precio_costo|default:"0" }}</td>
                    <td>
                        {% if venta_info.estado_pago == "Cancelado" %}
                            <span class="text-success font-weight-bold">{{ venta_info.estado_pago }}</span>
                        {% else %}
                            <span class="text-danger font-weight-bold">{{ venta_info.estado_pago }}</span>
                        {% endif %}
                    </td>                                       
                    <td>${{ venta_info.ganancia_perdida }}</td>
                    <td>
                        <a href="{% url 'editar_venta_manual_servicio' venta_info.venta.id %}" class="btn btn-primary btn-sm">Editar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- PAGINACIÓN DE SERVICIOS -->
    <div class="mb-4">
        <nav aria-label="Paginación Servicios">
            <ul class="pagination">
                {% if ventas_servicios_paginadas.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page_servicios=1">Primera</a></li>
                    <li class="page-item"><a class="page-link" href="?page_servicios={{ ventas_servicios_paginadas.previous_page_number }}">Anterior</a></li>
                {% endif %}
                {% for i in ventas_servicios_paginadas.paginator.page_range %}
                    <li class="page-item{% if i == ventas_servicios_paginadas.number %} active{% endif %}">
                        <a class="page-link" href="?page_servicios={{ i }}">{{ i }}</a>
                    </li>
                {% endfor %}
                {% if ventas_servicios_paginadas.has_next %}
                    <li class="page-item"><a class="page-link" href="?page_servicios={{ ventas_servicios_paginadas.next_page_number }}">Siguiente</a></li>
                    <li class="page-item"><a class="page-link" href="?page_servicios={{ ventas_servicios_paginadas.paginator.num_pages }}">Última</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>

    <!-- "Volver al menú principal" con la clase btn btn-danger ml-2 -->
    {% if user.is_authenticated and user.empleado and user.empleado.rol == 'Administrador' %}
    <a href="{% url 'gestionar_transacciones' %}"><button class="btn btn-danger btn-sm">Volver al menú principal</button></a>
    {% endif %}

</div>

{% endblock %}


