{% extends 'base.html' %}
{% load static %}
{% block title %}
{% if user.empleado and user.empleado.rol == 'Administrador' %}
        Historial de Ventas Online
    {% else %}
        Historial de Compras Online
    {% endif %}
{% endblock %}
{% block extra_css %}
<style>
    .table td, .table th {
        vertical-align: middle;
        text-align: center;
    }
    
    /* Tablets (pantallas medianas) */
    @media (max-width: 991.98px) {
        .container .btn {
            display: block;
            width: 100%;  /* Ancho completo */
            margin-bottom: 10px;  /* Espaciado entre botones */
        }
    }

    /* Móviles (pantallas pequeñas) */
    @media (max-width: 767.98px) {
        .container .btn {
            display: block;
            width: 100%;
            margin-bottom: 15px;  /* Más espacio entre botones */
        }
    }

    /* Dispositivos muy pequeños (menos de 480px) */
    @media (max-width: 480px) {
        .container .btn {
            width: 100%;
            margin-bottom: 12px;
        }
    }
</style>
{% endblock %}
{% block content %}

<div class="bg-light py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-0">
                <a href="{% url 'home' %}">Inicio</a> 
                <span class="mx-2 mb-0">/</span> 
                {% if user.is_authenticated and user.empleado and user.empleado.rol == 'Administrador' %}
                    <a href="{% url 'gestionar_transacciones' %}">Gestionar Transacciones</a> 
                    <span class="mx-2 mb-0">/</span> 
                {% endif %}
                {% if user.empleado and user.empleado.rol == 'Administrador' %}
                    <strong class="text-black">Historial de Ventas Online</strong>
                {% elif user.cliente %}
                    <strong class="text-black">Historial de Compras Online</strong>
                {% else %}
                    <strong class="text-black">Historial</strong>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="container mt-4">

    {% if user.empleado and user.empleado.rol == 'Administrador' %}
    <!-- Formulario de búsqueda -->
    <form method="GET" class="form-control-file mb-2">
        <div class="form-group">
            <label for="search-cliente">Buscar por Cliente:</label>
            <input type="text" class="form-control mx-2" id="search-cliente" name="cliente" placeholder="Nombre del Cliente" value="{{ cliente_query }}">
        </div>
        <button type="submit" class="btn btn-outline-primary btn-sm mb-2">Filtrar</button>
        <a href="{% url 'listar_ventas_online' %}" class="btn btn-outline-danger btn-sm mb-2">Quitar filtro</a>
    </form>
    {% endif %}

    <!-- TABLA DE VENTAS DE PRODUCTOS -->
    <h2 class="text-center">
        {% if user.is_authenticated and user.empleado and user.empleado.rol == 'Administrador' %}
            Historial de Ventas de Productos
        {% else %}
            Historial de Compras de Productos
        {% endif %}
    </h2>    
    <div class="table-responsive mb-4">
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>Número de Orden</th>
                    <th>Cliente</th>
                    <th>Correo</th>
                    <th>Teléfono</th>
                    <th>Fecha de la Transacción</th>
                    <th>Fecha Modificación Estado de la Reserva</th>
                    <th>Estado de la Reserva</th>
                    {% if user.is_authenticated and user.empleado and user.empleado.rol == 'Administrador' %}
                    <th>Acciones</th>
                    <th>Días Transcurridos entre la Adquisición y Venta</th>
                    {% endif %}
                    <th>Días Transcurridos entre la Reserva y Venta</th>
                    <th>Detalle</th>
                    <th>Stock Propio</th>
                    <th>Tipo de Pago</th>
                    <th>Monto de Cuotas</th>
                    <th>Número de Cuotas</th>
                    <th>Total (IVA incluido)</th>
                    {% if user.is_authenticated and user.empleado and user.empleado.rol == 'Administrador' %}
                    <th>Resultado del Negocio</th>
                    {% endif %}
                    <th>Emitir Comprobante</th>
                </tr>
            </thead>
            <tbody>
                {% for venta_info in ventas_productos_list %}
                <tr class="{% cycle 'table-light' 'table-secondary' %}">
                    <td>{{ venta_info.venta.numero_orden }}</td>
                    <td>
                        {% if venta_info.venta.cliente %}
                            {{ venta_info.venta.cliente.user.first_name }} {{ venta_info.venta.cliente.user.last_name }}
                        {% elif venta_info.venta.cliente_anonimo %}
                            {{ venta_info.venta.cliente_anonimo.nombre }} {{ venta_info.venta.cliente_anonimo.apellido }}
                        {% else %}
                            N/A
                        {% endif %}
                    </td>
                    <td>
                        {% if venta_info.venta.cliente %}
                            {{ venta_info.venta.cliente.user.email }}
                        {% elif venta_info.venta.cliente_anonimo %}
                            {{ venta_info.venta.cliente_anonimo.email }}
                        {% else %}
                            N/A
                        {% endif %}
                    </td>                    
                    <td>
                        {% if venta_info.venta.cliente %}
                            {{ venta_info.venta.cliente.numero_telefono }}
                        {% elif venta_info.venta.cliente_anonimo %}
                            {{ venta_info.venta.cliente_anonimo.numero_telefono }}
                        {% else %}
                            N/A
                        {% endif %}
                    </td>                    
                    <td>{{ venta_info.venta.fecha|date:"d/m/Y H:i" }}</td>
                    <td>
                        {% for detalle in venta_info.venta.detalleventaonline_set.all %}
                            {% if detalle.producto and detalle.producto.categoria == "Vehículo" and detalle.fecha_estado_final %}
                                {{ detalle.fecha_estado_final|date:"d/m/Y H:i" }}
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for detalle in venta_info.venta.detalleventaonline_set.all %}
                            {% if detalle.producto and detalle.producto.categoria == "Vehículo" %}
                                {{ detalle.estado_reserva }}
                            {% endif %}
                        {% endfor %}
                    </td>
                    {% if user.is_authenticated and user.empleado and user.empleado.rol == 'Administrador' %}
                    <td>
                        {% with show_button=False %}
                            {% for detalle in venta_info.venta.detalleventaonline_set.all %}
                                {% if detalle.producto and detalle.producto.categoria == "Vehículo" and not show_button %}
                                    <a href="{% url 'editar_venta_online' venta_info.venta.id %}" class="btn btn-primary btn-sm">Editar</a>
                                    {% with True as show_button %}
                                    {% endwith %}
                                {% endif %}
                            {% endfor %}
                        {% endwith %}
                    </td>
                    {% endif %}
                    {% if user.is_authenticated and user.empleado and user.empleado.rol == 'Administrador' %}
                    <td>
                        {% for detalle in venta_info.venta.detalleventaonline_set.all %}
                            {% if detalle.producto and detalle.producto.categoria == "Vehículo" and detalle.dias_desde_adquisicion %}
                                {{ detalle.dias_desde_adquisicion }} días
                            {% endif %}
                        {% endfor %}
                    </td>
                    {% endif %}
                    <td>
                        {% for detalle in venta_info.venta.detalleventaonline_set.all %}
                            {% if detalle.producto and detalle.producto.categoria == "Vehículo" and detalle.calculo_tiempo_transcurrido %}
                                {{ detalle.calculo_tiempo_transcurrido }} días
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for producto in venta_info.productos %}
                            {{ producto.nombre }}
                        {% endfor %}
                    </td>
                    <td>
                        {% for producto in venta_info.productos %}
                            {{ producto.stock_propio }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% if venta_info.venta.tipo_pago %}
                            {% if venta_info.venta.tipo_pago == 'VD' %}
                                Venta Débito
                            {% elif venta_info.venta.tipo_pago == 'VN' %}
                                Venta Normal
                            {% elif venta_info.venta.tipo_pago == 'VC' %}
                                Venta en Cuotas
                            {% elif venta_info.venta.tipo_pago == 'SI' %}
                                3 Cuotas sin Interés
                            {% elif venta_info.venta.tipo_pago == 'S2' %}
                                2 Cuotas sin Interés
                            {% elif venta_info.venta.tipo_pago == 'NC' %}
                                Cuotas sin Interés
                            {% elif venta_info.venta.tipo_pago == 'VP' %}
                                Venta Prepago
                            {% else %}
                                {{ venta_info.venta.tipo_pago }}
                            {% endif %}
                        {% else %}
                            N/A
                        {% endif %}
                    </td>                    
                    <td>${{ venta_info.venta.monto_cuotas|default:'0' }}</td>
                    <td>{{ venta_info.venta.numero_cuotas }}</td>
                    <td>${{ venta_info.venta.total_formateado }}</td>
                    {% if user.is_authenticated and user.empleado and user.empleado.rol == 'Administrador' %}
                    <td>${{ venta_info.ganancia_formateada }}</td>
                    {% endif %}
                    <td>
                        <a href="{% url 'descargar_comprobante_pago' 'online' venta_info.venta.numero_orden %}" class="btn btn-success btn-sm">Descargar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- PAGINACIÓN DE PRODUCTOS -->
    <div class="mb-4">
        <nav aria-label="Paginación Productos">
            <ul class="pagination">
                {% if ventas_productos_paginadas.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page_productos=1">Primera</a></li>
                    <li class="page-item"><a class="page-link" href="?page_productos={{ ventas_productos_paginadas.previous_page_number }}">Anterior</a></li>
                {% endif %}
                {% for i in ventas_productos_paginadas.paginator.page_range %}
                    <li class="page-item{% if i == ventas_productos_paginadas.number %} active{% endif %}">
                        <a class="page-link" href="?page_productos={{ i }}">{{ i }}</a>
                    </li>
                {% endfor %}
                {% if ventas_productos_paginadas.has_next %}
                    <li class="page-item"><a class="page-link" href="?page_productos={{ ventas_productos_paginadas.next_page_number }}">Siguiente</a></li>
                    <li class="page-item"><a class="page-link" href="?page_productos={{ ventas_productos_paginadas.paginator.num_pages }}">Última</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>

    <!-- TABLA DE VENTAS DE SERVICIOS -->
    <h2 class="text-center">
        {% if user.is_authenticated and user.empleado and user.empleado.rol == 'Administrador' %}
            Historial de Ventas de Servicios
        {% else %}
            Historial de Compras de Servicios
        {% endif %}
    </h2>    
    <div class="table-responsive mb-4">
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>Número de Orden</th>
                    <th>Cliente</th>
                    <th>Correo</th>
                    <th>Teléfono</th>
                    {% if user.is_authenticated and user.empleado and user.empleado.rol == 'Administrador' %}
                    {% endif %}
                    <th>Fecha de la Transacción</th>
                    <th>Detalle</th>
                    <th>Tipo de Pago</th>
                    <th>Monto de Cuotas</th>
                    <th>Número de Cuotas</th>
                    <th>Total (IVA incluido)</th>
                    {% if user.is_authenticated and user.empleado and user.empleado.rol == 'Administrador' %}
                    <th>Resultado del Negocio</th>
                    {% endif %}
                    <th>Emitir Comprobante</th>
                </tr>
            </thead>
            <tbody>
                {% for venta_info in ventas_servicios_list %}
                <tr class="{% cycle 'table-light' 'table-secondary' %}">
                    <td>{{ venta_info.venta.numero_orden }}</td>
                    <td>
                        {% if venta_info.venta.cliente %}
                            {{ venta_info.venta.cliente.user.first_name }} {{ venta_info.venta.cliente.user.last_name }}
                        {% elif venta_info.venta.cliente_anonimo %}
                            {{ venta_info.venta.cliente_anonimo.nombre }} {{ venta_info.venta.cliente_anonimo.apellido }}
                        {% else %}
                            N/A
                        {% endif %}
                    </td>
                    <td>
                        {% if venta_info.venta.cliente %}
                            {{ venta_info.venta.cliente.user.email }}
                        {% elif venta_info.venta.cliente_anonimo %}
                            {{ venta_info.venta.cliente_anonimo.email }}
                        {% else %}
                            N/A
                        {% endif %}
                    </td>
                    <td>
                        {% if venta_info.venta.cliente %}
                            {{ venta_info.venta.cliente.numero_telefono }}
                        {% elif venta_info.venta.cliente_anonimo %}
                            {{ venta_info.venta.cliente_anonimo.numero_telefono }}
                        {% else %}
                            N/A
                        {% endif %}
                    </td>
                    <td>{{ venta_info.venta.fecha|date:"d/m/Y H:i" }}</td>
                    <td>
                        {% for servicio in venta_info.servicios %}
                            {{ servicio.nombre }}
                        {% endfor %}
                    </td>
                    <td>
                        {% if venta_info.venta.tipo_pago %}
                            {% if venta_info.venta.tipo_pago == 'VD' %}
                                Venta Débito
                            {% elif venta_info.venta.tipo_pago == 'VN' %}
                                Venta Normal
                            {% elif venta_info.venta.tipo_pago == 'VC' %}
                                Venta en Cuotas
                            {% elif venta_info.venta.tipo_pago == 'SI' %}
                                3 Cuotas sin Interés
                            {% elif venta_info.venta.tipo_pago == 'S2' %}
                                2 Cuotas sin Interés
                            {% elif venta_info.venta.tipo_pago == 'NC' %}
                                Cuotas sin Interés
                            {% elif venta_info.venta.tipo_pago == 'VP' %}
                                Venta Prepago
                            {% else %}
                                {{ venta_info.venta.tipo_pago }}
                            {% endif %}
                        {% else %}
                            N/A
                        {% endif %}
                    </td>                    
                    <td>${{ venta_info.venta.monto_cuotas|default:'0' }}</td>
                    <td>{{ venta_info.venta.numero_cuotas }}</td>
                    <td>${{ venta_info.venta.total_formateado }}</td>
                    {% if user.is_authenticated and user.empleado and user.empleado.rol == 'Administrador' %}
                    <td>${{ venta_info.ganancia_formateada }}</td>
                    {% endif %}
                    <td>
                        <a href="{% url 'descargar_comprobante_pago' 'online' venta_info.venta.numero_orden %}" class="btn btn-success btn-sm">Descargar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- PAGINACIÓN DE SERVICIOS -->
    <div class="mb-4">
        <nav aria-label="Paginación Servicios">
            <ul class="pagination">
                {% if ventas_servicios_paginadas.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page_servicios=1">Primera</a></li>
                    <li class="page-item"><a class="page-link" href="?page_servicios={{ ventas_servicios_paginadas.previous_page_number }}">Anterior</a></li>
                {% endif %}
                {% for i in ventas_servicios_paginadas.paginator.page_range %}
                    <li class="page-item{% if i == ventas_servicios_paginadas.number %} active{% endif %}">
                        <a class="page-link" href="?page_servicios={{ i }}">{{ i }}</a>
                    </li>
                {% endfor %}
                {% if ventas_servicios_paginadas.has_next %}
                    <li class="page-item"><a class="page-link" href="?page_servicios={{ ventas_servicios_paginadas.next_page_number }}">Siguiente</a></li>
                    <li class="page-item"><a class="page-link" href="?page_servicios={{ ventas_servicios_paginadas.paginator.num_pages }}">Última</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>

    <!-- "Volver al menú principal" con la clase btn btn-danger ml-2 -->
    {% if user.is_authenticated and user.empleado and user.empleado.rol == 'Administrador' %}
    <a href="{% url 'gestionar_transacciones' %}"><button class="btn btn-danger btn-sm">Volver al menú principal</button></a>
    {% endif %}

</div>

{% endblock %}