{% extends 'base.html' %}
{% load static %}
{% block title %}
{% if user.empleado and user.empleado.rol == 'Administrador' %}
        Historial de Ventas Online
    {% else %}
        Historial de Compras Online
    {% endif %}
{% endblock %}
{% block extra_css %}
<style>
    .table td, .table th {
        vertical-align: middle;
        text-align: center;
    }
    
    /* Tablets (pantallas medianas) */
    @media (max-width: 991.98px) {
        .container .btn {
            display: block;
            width: 100%;  /* Ancho completo */
            margin-bottom: 10px;  /* Espaciado entre botones */
        }
    }

    /* Móviles (pantallas pequeñas) */
    @media (max-width: 767.98px) {
        .container .btn {
            display: block;
            width: 100%;
            margin-bottom: 15px;  /* Más espacio entre botones */
        }
    }

    /* Dispositivos muy pequeños (menos de 480px) */
    @media (max-width: 480px) {
        .container .btn {
            width: 100%;
            margin-bottom: 12px;
        }
    }
</style>
{% endblock %}
{% block content %}


<div class="bg-light py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-0">
                <a href="{% url 'home' %}">Inicio</a> 
                <span class="mx-2 mb-0">/</span> 
                <a href="{% url 'gestionar_transacciones' %}">Gestionar Transacciones</a> 
                <span class="mx-2 mb-0">/</span> 
                {% if user.empleado and user.empleado.rol == 'Administrador' %}
                    <strong class="text-black">Historial de Ventas Online</strong>
                {% elif user.cliente %}
                    <strong class="text-black">Historial de Compras Online</strong>
                {% else %}
                    <strong class="text-black">Historial</strong>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="container mt-4">

    {% if user.empleado and user.empleado.rol == 'Administrador' %}
    <!-- Formulario de búsqueda -->
    <form method="GET" class="form-control-file mb-2">
        <div class="form-group">
            <label for="search-cliente">Buscar por Cliente:</label>
            <input type="text" class="form-control mx-2" id="search-cliente" name="cliente" placeholder="Nombre del Cliente" value="{{ cliente_query }}">
        </div>
        <button type="submit" class="btn btn-outline-primary btn-sm mb-2">Filtrar</button>
        <a href="{% url 'listar_ventas_online' %}" class="btn btn-outline-danger btn-sm mb-2">Quitar filtro</a>
    </form>
    {% endif %}

<!-- Tabla de ventas online -->
<div class="table-responsive mb-4"> <!-- Añadido mb-4 para espacio entre tabla y paginación -->
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Número de Orden</th>
                <th>Cliente</th>
                <th>Correo</th>
                {% if user.is_authenticated and user.empleado and user.empleado.rol == 'Administrador' %}
                <th>¿Usuario registrado?</th>
            {% endif %}
                <th>Fecha de la Transacción</th>
                <th>Fecha Modificación Estado de la Reserva</th>
                <th>Estado de la Reserva</th>
                {% if user.is_authenticated and user.empleado and user.empleado.rol == 'Administrador' %}
                <th>Acciones</th>
                {% endif %}
                {% if user.is_authenticated and user.empleado and user.empleado.rol == 'Administrador' %}
                <th>Días Transcurridos entre la Adquisición y Venta</th>
                {% endif %}
                <th>Días Transcurridos entre la Reserva y Venta</th>
                <th>Detalle</th>
                <th>Consignado</th>
                <th>Tipo de Pago</th>
                <th>Monto de Cuotas</th>
                <th>Número de Cuotas</th>
                <th>Total (IVA incluido)</th>
                {% if user.is_authenticated and user.empleado and user.empleado.rol == 'Administrador' %}
                <th>Ganancia o Pérdida</th>
            {% endif %}
                <th>Emitir Comprobante</th>
            </tr>
        </thead>
        <tbody>
            {% for orden in ordenes_paginadas %}
            <tr class="{% cycle 'table-light' 'table-secondary' %}">
                <td>{{ orden.numero_orden }}</td>
                
                <td>
                    {% if orden.cliente %}
                        {{ orden.cliente.user.first_name }} {{ orden.cliente.user.last_name }}
                    {% elif orden.cliente_anonimo %}
                        {{ orden.cliente_anonimo.nombre }} {{ orden.cliente_anonimo.apellido }}
                    {% else %}
                    {% endif %}
                </td>
        
                <td>
                    {% if orden.cliente %}
                        {{ orden.cliente.user.email }}
                    {% elif orden.cliente_anonimo %}
                        {{ orden.cliente_anonimo.email }}
                    {% else %}
                    {% endif %}
                </td>

                {% if user.is_authenticated and user.empleado and user.empleado.rol == 'Administrador' %}
                <td>
                    {% if orden.cliente %}
                        Sí
                    {% elif orden.cliente_anonimo %}
                        No
                    {% else %}
                    {% endif %}
                </td>
                {% endif %}

                <td>{{ orden.fecha|date:"d/m/Y H:i" }}</td>
                
                <td>
                    {% for detalle in orden.detalleventaonline_set.all %}
                        {% if detalle.producto and detalle.producto.categoria == "Vehículo" %}
                            {% if detalle.fecha_estado_final %}
                                {{ detalle.fecha_estado_final|date:"d/m/Y H:i" }}
                            {% else %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </td>

                <td>
                    {% for detalle in orden.detalleventaonline_set.all %}
                        {% if detalle.producto and detalle.producto.categoria == "Vehículo" %}
                            {% if detalle.estado_reserva %}
                                {{ detalle.estado_reserva }}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </td>

                {% if user.is_authenticated and user.empleado and user.empleado.rol == 'Administrador' %}
                <td>
                    {% with show_button=False %}
                        {% for detalle in orden.detalleventaonline_set.all %}
                            {% if detalle.producto and detalle.producto.categoria == "Vehículo" and not show_button %}
                                <a href="{% url 'editar_venta_online' orden.id %}" class="btn btn-primary btn-sm">Editar</a>
                                {% with True as show_button %}
                                {% endwith %}
                            {% endif %}
                        {% endfor %}
                    {% endwith %}
                </td>
                {% endif %}  
                
                {% if user.is_authenticated and user.empleado and user.empleado.rol == 'Administrador' %}
                <td>
                    {% for detalle in orden.detalleventaonline_set.all %}
                        {% if detalle.producto and detalle.producto.categoria == "Vehículo" %}
                            {% if detalle.dias_desde_adquisicion is not None %}
                                {{ detalle.dias_desde_adquisicion }} días
                            {% else %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </td>
                {% endif %}  
                
                <td>
                    {% for detalle in orden.detalleventaonline_set.all %}
                        {% if detalle.producto and detalle.producto.categoria == "Vehículo" %}
                            {% if detalle.calculo_tiempo_transcurrido is not None %}
                                {{ detalle.calculo_tiempo_transcurrido }} días
                            {% else %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </td>
                
                <td>
                    {% for detalle in orden.detalles_formateados %}
                        {{ detalle.nombre }}{% if not forloop.last %} - {% endif %}
                    {% endfor %}
                </td>
                
                <td>
                    {% for detalle in orden.detalleventaonline_set.all %}
                        {% if detalle.producto %}
                            {% if detalle.producto.consignado %}
                                Sí
                            {% else %}
                                No
                            {% endif %}
                            {% if not forloop.last %} - {% endif %}
                        {% endif %}
                    {% endfor %}
                </td>
                
                <td>
                    {% if orden.tipo_pago == 'VD' %}
                        Venta Débito
                    {% elif orden.tipo_pago == 'VN' %}
                        Venta Normal
                    {% elif orden.tipo_pago == 'VC' %}
                        Venta en Cuotas
                    {% elif orden.tipo_pago == 'SI' %}
                        3 Cuotas sin Interés
                    {% elif orden.tipo_pago == 'S2' %}
                        2 Cuotas sin Interés
                    {% elif orden.tipo_pago == 'NC' %}
                        Cuotas sin Interés
                    {% elif orden.tipo_pago == 'VP' %}
                        Venta Prepago
                    {% else %}
                        {{ orden.tipo_pago }}
                    {% endif %}
                </td>
        
                <td>${{ orden.monto_cuotas|default:'0' }}</td>
                <td>{{ orden.numero_cuotas }}</td>
                <td>${{ orden.total_formateado }}</td>
                {% if user.is_authenticated and user.empleado and user.empleado.rol == 'Administrador' %}
                <td>${{ orden.ganancia_formateada }}</td>
                {% endif %}
                
                <td>
                    <a href="{% url 'descargar_comprobante_pago' 'online' orden.numero_orden %}" class="btn btn-success btn-sm">Descargar</a>
                </td>
        
            </tr>
            {% endfor %}
        </tbody>        
    </table>
</div>

<!-- Paginación con espacio superior -->
<div class="mb-4">
    <nav aria-label="Paginación">
        <ul class="pagination">
            {% if ordenes_paginadas.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1{% if cliente_query %}&cliente={{ cliente_query }}{% endif %}">Primera</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ ordenes_paginadas.previous_page_number }}{% if cliente_query %}&cliente={{ cliente_query }}{% endif %}">Anterior</a>
                </li>
            {% endif %}
            
            {% for num in ordenes_paginadas.paginator.page_range %}
                <li class="page-item{% if ordenes_paginadas.number == num %} active{% endif %}">
                    <a class="page-link" href="?page={{ num }}{% if cliente_query %}&cliente={{ cliente_query }}{% endif %}">{{ num }}</a>
                </li>
            {% endfor %}
            
            {% if ordenes_paginadas.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ ordenes_paginadas.next_page_number }}{% if cliente_query %}&cliente={{ cliente_query }}{% endif %}">Siguiente</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ ordenes_paginadas.paginator.num_pages }}{% if cliente_query %}&cliente={{ cliente_query }}{% endif %}">Última</a>
                </li>
            {% endif %}
        </ul>
    </nav>
</div>

    <div class="mt-4">
        {% if user.is_authenticated and user.empleado and user.empleado.rol == 'Administrador' %}
            <a href="{% url 'gestionar_transacciones' %}" class="btn btn-danger btn-sm">Volver al menú principal</a>
        {% else %}
            <p><a href="javascript:history.back()" class="btn btn-secondary btn-sm mt-2">Volver atrás</a></p>
        {% endif %}
    </div>

</div>

{% endblock %}
