# Ignorar el archivo .env
.env

# Ignorar la carpeta .vs
.vs/

# Ignorar la carpeta .vscode
.vscode/

# Ignorar la carpeta env
env/

# Ignorar la carpeta logs
logs/

# Ignorar la carpeta media
media/

# Ignorar el archivo urls.py dentro de la carpeta principal del proyecto
myproject/myproject/urls.py