{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="bg-light py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0"><a href="{% url 'home' %}">Inicio</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Sobre Nosotros</strong></div>
        </div>
      </div>
    </div>  

    <div class="site-section border-bottom" data-aos="fade">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-6">
            <div class="block-16">
              <figure>
                <img src="{% static 'images/blog_1.jpg' %}" alt="Image placeholder" class="img-fluid rounded">
                <a href="https://vimeo.com/channels/staffpicks/93951774" class="play-button popup-vimeo"><span class="ion-md-play"></span></a>
              </figure>
            </div>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-5">
            <div class="site-section-heading pt-3 mb-4 text-center">
              <h2 class="text-black">Así empezó todo</h2>
          </div>          
            <p style="text-align: justify;">Somos una empresa fundada en el año 2022, innovadora y enfocada en el servicio, dedicada al rubro automotriz, en primera instancia dentro de Santiago, 
              Región Metropolitana. Nuestra misión es ofrecer soluciones integrales y eficientes para todas tus necesidades automotrices.</p>
              <p style="text-align: justify;">Es clave trabajar con transparencia y honestidad, nos esforzamos por ofrecer soluciones rápidas y efectivas, comunícate con nosotros y buscamos la solución que 
              más te acomode.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section border-bottom" data-aos="fade">
      <div class="container">
        <div class="row justify-content-center mb-5">
          <div class="col-md-7 site-section-heading text-center pt-4">
            <h2>Nuestro equipo</h2>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-6 col-lg-4">
              <div class="block-38 text-center">
                  <div class="block-38-img">
                      <div class="block-38-header">
                          <img src="{% static 'images/person_1.jpg' %}" alt="Cristian Urrutia" class="mb-4">
                          <h3 class="block-38-heading h4">Cristian Urrutia</h3>
                          <p class="block-38-subheading">Fundador</p>
                      </div>
                      <div class="block-38-body">
                          <p style="text-align: justify;">Comprometido con la transparencia y la excelencia en cada detalle del servicio automotriz.</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      </div>
    </div>
  
{% endblock %}