{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="bg-light py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0"><a href="{% url 'home' %}">Inicio</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Contáctanos</strong></div>
        </div>
      </div>
    </div>  

    <div class="site-section">
      <div class="container">
        <div class="row justify-content-center"> <!-- Centrar el formulario -->
          <div class="col-md-8">
            <h2 class="h3 mb-3 text-black text-center">¿Tienes alguna duda o deseas realizar un reclamo? <br> ¡Aquí estamos para ayudarte!</h2>
            
            <!-- Mensaje de éxito -->
            {% if success %}
                <div class="alert alert-success text-center">
                    ¡Tu mensaje ha sido enviado con éxito!
                </div>
            {% endif %}
            
            <form action="{% url 'enviar_correo_formulario' %}" method="post">
              {% csrf_token %}
              <div class="p-3 p-lg-5 border">
                  <div class="form-group row">
                      <div class="col-md-6">
                          <label for="c_fname" class="text-black">Primer Nombre <span class="text-danger">*</span></label>
                          <input type="text" class="form-control" id="c_fname" name="name" required>
                      </div>
                      <div class="col-md-6">
                          <label for="c_lname" class="text-black">Apellidos <span class="text-danger">*</span></label>
                          <input type="text" class="form-control" id="c_lname" name="last_name" required>
                      </div>
                  </div>
                  <div class="form-group row">
                      <div class="col-md-12">
                          <label for="c_email" class="text-black">Correo <span class="text-danger">*</span></label>
                          <input type="email" class="form-control" id="c_email" name="email" required>
                      </div>
                  </div>
                  <div class="form-group row">
                      <div class="col-md-12">
                          <label for="c_subject" class="text-black">Asunto <span class="text-danger">*</span></label>
                          <input type="text" class="form-control" id="c_subject" name="subject" required>
                      </div>
                  </div>
                  <div class="form-group row">
                      <div class="col-md-12">
                          <label for="c_message" class="text-black">Mensaje <span class="text-danger">*</span></label>
                          <textarea name="message" id="c_message" cols="30" rows="7" class="form-control" required></textarea>
                      </div>
                  </div>
                  <div class="form-group row">
                      <div class="col-lg-12">
                          <input type="submit" class="btn btn-primary btn-lg btn-block" value="Enviar Mensaje">
                      </div>
                  </div>
              </div>
          </form>          
          </div>
        </div>
      </div>
    </div>

{% endblock %}
