{% extends "base.html" %}
{% load static %}
{% block title %}Sobre Nosotros{% endblock %}
{% block content %}

<div class="bg-light py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mb-0"><a href="{% url 'home' %}">Inicio</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Preguntas Frecuentes</strong></div>
      </div>
    </div>
  </div>  

<section class="container my-5">
    <h2>Preguntas Frecuentes</h2>
    <div class="accordion" id="faqAccordion">
        <!-- Pregunta 1 -->
        <div class="card">
            <div class="card-header" id="faqHeading1">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#faqCollapse1" aria-expanded="true" aria-controls="faqCollapse1">
                        ¿Cómo puedo comprar un auto por la página?
                    </button>
                </h2>
            </div>
            <div id="faqCollapse1" class="collapse show" aria-labelledby="faqHeading1" data-parent="#faqAccordion">
                <div class="card-body" style="text-align: justify;">
                    Solo debes seleccionar el auto que te gusta en la galería, donde tendrás fotos, descripción y una ficha técnica, para que puedas informarte lo mejor 
                    posible acerca del vehículo que quieres. Lo puedes reservar directamente en la página por un valor de $200.000, monto que puedes cancelar por transferencia 
                    electrónica o vía Webpay. Luego te contactamos para coordinar la visita, para que puedas revisar y probar el vehículo, si todo anda bien, cerramos el negocio 
                    de manera online o presencial, según mejor te acomode. De lo contrario te haremos reembolso de tu reserva en máximo de 5 días hábiles.
                </div>
            </div>
        </div>

        <!-- Pregunta 2 -->
        <div class="card">
            <div class="card-header" id="faqHeading2">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#faqCollapse2" aria-expanded="false" aria-controls="faqCollapse2">
                        ¿En qué consiste el servicio de pre compra?
                    </button>
                </h2>
            </div>
            <div id="faqCollapse2" class="collapse" aria-labelledby="faqHeading2" data-parent="#faqAccordion">
                <div class="card-body" style="text-align: justify;">
                    Este es el servicio que debes solicitar antes de comprar un vehículo, nos encargamos de revisar la unidad en aspectos mecánicos, estéticos, eléctricos y 
                    legales. Para que puedas tomar la mejor decisión antes de comprar. Eso va complementado con un informe técnico y otro obtenido de la plataforma 
                    Autofact con la historia del vehículo. Para solicitar, solo debes llenar el formulario en la página y cancelar el valor de $59.990 vía transferencia o 
                    Webpay. Del resto, nos encargamos nosotros.
                </div>
            </div>
        </div>

        <!-- Pregunta 3 -->
        <div class="card">
            <div class="card-header" id="faqHeading3">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#faqCollapse3" aria-expanded="false" aria-controls="faqCollapse3">
                        ¿En qué consiste la consignación virtual?
                    </button>
                </h2>
            </div>
            <div id="faqCollapse3" class="collapse" aria-labelledby="faqHeading3" data-parent="#faqAccordion">
                <div class="card-body" style="text-align: justify;">
                    Para este servicio, primero debes generar la solicitud mediante el formulario, luego de eso, se evalúa si es viable el negocio. Si la respuesta es Sí, 
                    te contactamos para coordinar una visita, revisar tú vehículo, tomar las fotos necesarias para la publicación y nos encargamos de buscar comprador. 
                    Una vez que lo tengamos, nos encargamos de realizar todo el trámite de transferencia de la manera más cómoda a convenir. Al finalizar el negocio, 
                    debes cancelar el servicio por un costo del 5% del valor de venta.
                </div>
            </div>
        </div>

        <!-- Pregunta 4 -->
        <div class="card">
            <div class="card-header" id="faqHeading4">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#faqCollapse4" aria-expanded="false" aria-controls="faqCollapse4">
                        ¿Qué debo hacer para solicitar un repuesto?
                    </button>
                </h2>
            </div>
            <div id="faqCollapse4" class="collapse" aria-labelledby="faqHeading4" data-parent="#faqAccordion">
                <div class="card-body" style="text-align: justify;">
                    Este es un servicio específico, no es que tengamos el repuesto en stock. Primero debes completar el formulario de solicitud, llenando todos los campos 
                    obligatorios. Luego de eso nos encargamos de buscar el repuesto en varios lugares, cotizar la mejor opción y una vez que lo tengamos, te contactamos para 
                    indicar detalles, si estás de acuerdo te lo hacemos llegar a domicilio o en algún lugar a convenir para entrega. Se cancela el 50% al momento de la 
                    solicitud y el otro 50% al momento de recibir tu repuesto.
                </div>
            </div>
        </div>

        <!-- Pregunta 5 -->
        <div class="card">
            <div class="card-header" id="faqHeading5">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#faqCollapse5" aria-expanded="false" aria-controls="faqCollapse5">
                        ¿Qué otros servicios puedo solicitar?
                    </button>
                </h2>
            </div>
            <div id="faqCollapse5" class="collapse" aria-labelledby="faqHeading5" data-parent="#faqAccordion">
                <div class="card-body" style="text-align: justify;">
                    <ul style="list-style-type: none; padding: 0;">
                        <li style="margin-bottom: 15px;">
                            <strong>Sacar TAG:</strong> Hacemos el trámite del TAG por ti, te hacemos llegar el dispositivo a tu domicilio. 
                            <em>(Servicio disponible solo para la Región Metropolitana)</em>
                        </li>
                        <li style="margin-bottom: 15px;">
                            <strong>Asesoría en realizar la transferencia de un vehículo:</strong> Si no te manejas en cómo realizar este proceso, 
                            te acompañamos en todo y ponemos a disposición las distintas opciones para realizar una transferencia. 
                            <em>(Servicio disponible solo para la Región Metropolitana)</em>
                        </li>
                        <li style="margin-bottom: 15px;">
                            <strong>Sacar Revisión Técnica:</strong> Hacemos el trámite por ti, retiramos tu vehículo en un lugar a convenir y 
                            lo llevamos a la planta de revisión técnica. Una vez aprobado, te lo devolvemos en donde nos indiques. 
                            En caso de salir rechazado, te ofrecemos opciones para solucionar los desperfectos. 
                            <em>(Servicio disponible solo para la Región Metropolitana)</em>
                        </li>
                        <li style="margin-bottom: 15px;">
                            <strong>Servicio de traslado en grúa:</strong> Te ayudamos si tienes que realizar un traslado en grúa para tu vehículo. 
                            Por el momento, solo servicios con coordinación previa, idealmente 24 horas de anticipación. 
                            Pueden ser dentro y fuera de la Región Metropolitana.
                        </li>
                    </ul>
                </div>
            </div>            
        </div>

    </div>
</section>

{% endblock %}
