{% extends 'base.html' %}
{% block title %}Recuperar Contraseña{% endblock %}
{% block extra_css %}
<style>
    /* Tablets (pantallas medianas) */
    @media (max-width: 991.98px) {
        .form-group.text-center .btn {
            display: block;  /* Botones apilados */
            width: 100%;  /* Ancho completo */
            margin-bottom: 10px;  /* Espacio entre botones */
        }
    }

    /* Móviles (pantallas pequeñas) */
    @media (max-width: 767.98px) {
        .form-group.text-center .btn {
            display: block;
            width: 100%;
            margin-bottom: 15px;  /* Más espacio en móviles */
        }
    }

    /* Dispositivos muy pequeños (menos de 480px) */
    @media (max-width: 480px) {
        .form-group.text-center .btn {
            width: 100%;
            margin-bottom: 12px;
        }
    }
</style>
{% endblock %}
{% block content %}

<div class="bg-light py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mb-0"><a href="{% url 'home' %}">Inicio</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Recuperar Contraseña</strong></div>
      </div>
    </div>
  </div>  

<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="POST" action="." class="box">
                {% csrf_token %}

                <div class="form-group">
                    <label for="{{ form.email.id_for_label }}" class="control-label">Ingresa tu dirección de correo electrónico</label>
                    <div class="input-group">
                        {{ form.email }}
                    </div>
                </div>

                <div class="form-group text-center">
                    <button class="btn btn-success btn-sm" type="submit">Restablecer Contraseña</button>
                    <a href="{% url 'login' %}" class="btn btn-secondary btn-sm">Volver atrás</a>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
