{% extends 'base.html' %}

{% block title %}Recuperar Contraseña{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="POST" action="." class="box">
                {% csrf_token %}

                <h1 class="has-text-centered mb-5 is-size-4">Ingresa tu nueva contraseña</h1>

                <div class="field">
                    <label for="{{ form.new_password1.id_for_label }}" class="label">Nueva contraseña</label>
                    <div class="control has-icons-left">
                        {{ form.new_password1 }}
                        <span class="icon is-small is-left">
                            <i class="fa fa-lock"></i>
                        </span>
                    </div>
                </div>
                
                <div class="field">
                    <label for="{{ form.new_password2.id_for_label }}" class="label">Confirma tu nueva contraseña</label>
                    <div class="control has-icons-left">
                        {{ form.new_password2 }}
                        <span class="icon is-small is-left">
                            <i class="fa fa-lock"></i>
                        </span>
                    </div>
                </div>

                <div class="field mt-2">
                  <button class="btn btn-success" type="submit">Guardar</button>
                  <button type="button" id="togglePasswords" class="btn btn-secondary">Mostrar Contraseñas</button>
              </div>
              
            </form>
        </div>
    </div>
</div>

<script>
    const togglePasswordsButton = document.querySelector('#togglePasswords');
    const passwordField1 = document.querySelector('#{{ form.new_password1.id_for_label }}');
    const passwordField2 = document.querySelector('#{{ form.new_password2.id_for_label }}');

    let passwordsVisible = false;

    togglePasswordsButton.addEventListener('click', function () {
        if (!passwordsVisible) {
            passwordField1.type = 'text';
            passwordField2.type = 'text';
            togglePasswordsButton.textContent = 'Ocultar Contraseñas';
        } else {
            passwordField1.type = 'password';
            passwordField2.type = 'password';
            togglePasswordsButton.textContent = 'Mostrar Contraseñas';
        }
        passwordsVisible = !passwordsVisible;
    });
</script>

{% endblock %}
